@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>A library manager application, just insert a book that you own then done!</p>

<p>Created by Jackson Johnson</p>
