@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    7477 County Road 91<br />
    Stayner, ON Canada<br />
    <abbr title="Phone">P:</abbr>
    705.796.0314
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">LibrarySupport@tech.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">LibraryMarketing@tech.com</a>
</address>
